.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) 1fr;
    gap: 48px 40px;
    color: white;
    padding: 0 148px;
    margin-bottom: 80px;
  }

  .place:last-child {
    margin-bottom: 92px;
  }
