.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 0 24px 16px;
    display: block;
  }
}
