.place__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
  color: #aaaaaa;
  font-style: normal;
}

@media screen and (max-width: 896px) {
  .place__url-heading {
    gap: 28px;
    line-height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    line-height: 12px;
    margin: 0;
    margin-bottom: 12px;

  }
}
